<mat-sidenav-container>
  <mat-sidenav #drawer mode="over">
    <div class="menu-mobile">
      <div class="close">
        <mat-icon class="icon-clear" (click)="drawer.toggle()">clear</mat-icon>
      </div>
      <ul>
        <li><a routerLink="/app/auth/login" routerLinkActive="active">Chủ nhà</a></li>
        <li><a routerLink="/app/auth/register" (click)="drawer.toggle()" routerLinkActive="active">Đăng ký</a></li>
        <li><a routerLink="/app/auth/login" (click)="drawer.toggle()" routerLinkActive="active">Đăng nhập</a></li>
        <li>
          <div class="profile">
            <!--                <img style="border-radius: 50%;"  class="mr-2" [src]="user.profilePicture ? user.profilePicture : 'assets/images/no_avatar.png'" width="64" height="64" alt="avatar" />-->
            <img style="border-radius: 50%" class="mr-2" [src]="profilePicture ? profilePicture : '/assets/images/login/no_avatar.png'" width="40" height="40" alt="avatar" />
            <button class="p-0 dropdown-profile" mat-button [matMenuTriggerFor]="menu">
              <div class="d-inline-block">
                <div class="bold">Nguyễn Hoàng Linh</div>
              </div>
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="right-menu-action">
              <ng-container *ngFor="let item of menuProfiles;">
                <button (click)="navigateUrl(item.path)" mat-menu-item>
                  <mat-icon>{{item.icon}}</mat-icon>
                  <span>{{item.name}}</span>
                </button>
              </ng-container>
            </mat-menu>
          </div>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-header [menuProfiles]="menuProfiles" [drawer]="drawer"></app-header>
    </div>
    <div class="display-content">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
