<div class="footer">
  <div class="footer__bottom" [class.background-login]="islogin">
    <div class="container container--md">
      <div class="row align-center center-xs ">
        <div class="col-xs-12 text-center">
          <p class="mb--0 p--small c-gray-9">© 2021 luxurystay. Bản quyền thuộc về Công ty TNHH luxurystay Việt Nam - MSDN: 0108308449. Mọi hành vi sao chép đều là phạm pháp nếu không có sự cho phép bằng văn bản của chúng tôi.</p>
          <p class="mt--6 mb--0 p--small c-gray-9">Tầng 21 tòa nhà Capital Tower số 109 phố Trần Hưng Đạo, phường Cửa Nam, quận Hoàn Kiếm, Hà Nội. Email: info@luxurystay.com, Số điện thoại: 18006586.</p>
          <p class="mt--6 mb--0 p--small c-gray-9">Số Giấy chứng nhận đăng ký doanh nghiệp: 0108308449, ngày cấp: 06/06/2018, nơi cấp: Sở Kế hoạch và Đầu tư TP Hà Nội</p>
        </div>
      </div>
    </div>
  </div>
</div>
