<section>
  <div>
    aaaaaaaaaaaaaaaaaa
  </div>
  <div class="mt--42"></div>
  <div class="container">
    <div class="greeting section">
      <div class="title mb--12">
        <h3>Chào mừng đến với Luxstay!</h3>
      </div> <p class="mb--6">Đặt chỗ ở, homestay, cho thuê xe, trải nghiệm và nhiều hơn nữa trên Luxstay</p>
      <p>
        <a routerLink="/app/auth/login" class="">Đăng nhập</a>
        <span class="text-lowercase">Hoặc</span>
        <a routerLink="/app/auth/register" class="">Đăng ký</a>
        để trải nghiệm !
      </p>
    </div>

  </div>
</section>
