
/*=======================Layout============================start*/
$main-color: #33a8eb;
$main-color-hover: #197aac;
$color-grey-hover: rgba(0, 0, 0, 0.17);
$main-color-disabled: #ACC997;
$color-white-background: #fefefe;
$home-bg-grey: #f0f0f0;
$color-white: #fff;
$color-green-black: green;
$color-wheat :  wheat;
$color-black : black;
$color-border: #dee2e6;
$color-red: red;
$color-green-white: #619B35;
$hover-grey: rgba(0,0,0,.17);
$color-percent-off: red;
$color-green-payment: #94c86d;
$color-input-style: #f3f3f3;
$color-input-style-border: #ccc;
$color-block-bottom: #e2e2e2;
$color-block-bottom-background: #ececec;
$color-help-block: #737373;
$color-info-block: #222;
$color-info-block-li: #eaeaea;
$color-title-head: #f2f2f2;
$color-input-form-control: #aaaaaa;
$color-about-container: #c4cccd;
$color-about-content: #f6f7fb;
$color-text-description: #959595;
$color-modal-footer: #F8F8F8;
$color-bk-loading-screen: rgba(44, 23, 23, 0.4);
$color-line-footer: #626363;

$color-header-table: #F4F5F7;
$color-striped-table: #fbfcfd;

$color-name-category: #676767;
$color-transaction-id: #9F9F9F;
$color-sender: #DE2055;
$color-receive: #B0CF44;
$color-title-wallet: #474747;
$grey-text : #6E6E6E;
$blue-text-barcode: #0f5eb3;
$main-font: "Eurostile", sans-serif;

$red-important: red !important;
$background-grey-content: #67676729;
$color-underline-input-amount: #C3C3C3;
$color-hr-scan-pickup: #DEDEDE;
$color-order-detail: #454545;
$color-border-order: #707070;
$color-order-btn-completed: #C1C1C1;

$color-product-detail-store-location: #8E8E8E;
$color-product-detail-load-more: #9A9A9A;
$color-market-store-card: #C8C8C8;
$color-market-display-discount: #EF5B34;
$color-market-input-place-holder: #A5A5A5;
$color-background-cart-price: #FBFBFB;
$color-hover-menu: #E9ECEF;
$color-map-location: #0085CA;

$loading-spinner-border: #f3f3f3;
$loading-spinner-border-top: #555;
$color-disabled: #ebebe4;
$color_boder_avatar: #888888;

$color_text_tip: #6E6E6E;
$color_hover_category: #a2a2a2;
$color_search_field_category: #d0d0d0;
$color_market_funnel: #3f34ea;
$color_border_connections: #CACACA;
$color_order_status_new: #3D71FF;
$color_order_status_preparing: #F5BF63;
$color_order_status_ready: #32B132;
$color_order_status_shipping: #8000FF;
$color_order_status_completed: #32B1AD;
$color_order_option_pay_now: #16D210;
$color_order_option_delivery: #8B43AA;
$color_order_option_pickup: #10AAD2;
$color_percent-off-value: #43A1FF;
/*=======================Layout============================end*/
