<div class="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-xs-12">
        <h3>Đăng ký thành viên Homestay - Tích điểm thưởng và nhận ưu đãi</h3>
        <p>Nhanh chóng, tiện lợi và an toàn. Đăng ký liền tay, rinh ngay quyền lợi.</p>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xs-12 last-xs first-md">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="media-login">
              <img src="/assets/image/top-sales@2x.png" width="55" height="70">
              <h3 class="media__title">Tiện ích thông minh</h3>
              <p class="media__content m--0">Check-in và kiểm tra hóa đơn thanh toán kể cả khi không có kết nối mạng. Hoàn tiền nhanh gọn. Đổi lịch dễ dàng.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="media-login">
              <img src="/assets/image/wallet@2x.png" width="60" height="70">
              <h3 class="media__title">Thanh toán đơn giản</h3>
              <p class="media__content m--0">Phương thức thanh toán tiện lợi, an toàn. Tích hợp chức năng lưu thẻ để đặt phòng lần sau.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="media-login">
              <img src="/assets/image/backpack@2x.png" width="55" height="70">
              <h3 class="media__title">Ưu đãi mỗi ngày</h3>
              <p class="media__content m--0">Nhận thông báo ưu đãi từ Homestay khi có kế hoạch du lịch để lựa chọn và đặt ngay cho mình một chỗ ở phù hợp, tiện nghi với giá tốt nhất.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="media-login">
              <img src="/assets/image/coins@2x.png" width="65" height="70">
              <h3 class="media__title">Tích điểm nhanh chóng</h3>
              <p class="media__content m--0">Tích điểm đối với mỗi lượt đặt chỗ thành công. Quy đổi thành Lux Credit để du lịch nhiều hơn nữa.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-12 first-md">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
